//$color-dark: #191716;
$color-dark-95: rgba(25, 23, 22, 0.95);
$color-yellow: #E6AF2E;
$color-light: #FBF1DA;
// $color-accent: #7E9AA0;
$color-accent-5: rgba(126, 154, 160, 0.05);


$color-background: #f4f4f4;
$color-white: #ffffff;
$color-logo: #3d70b2;
$color-accent: #e8e8e8;
$color-header: #344258;
$color-dark: #757a91;
$color-placeholder: #8b8f9e;
$color-input: #fcfcfc;
$color-button: #363636;
$color-button-background: #3f88e3;
$color-important: #ec5b5b;
$color-white-translucent: rgba(255, 255, 255, 0.95);
