@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background: $color-background;
    color: $color-header;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .15s ease-in-out;

    &:hover {
        color: $color-accent;
    }

    &:active {
        color: $color-yellow;
    }
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3 {
    color: $color-yellow;
    font-weight: 600;
}

h1 {
    font-weight: 700;
    font-size: 1.7rem;
}

.accent-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: $color-accent;
}

button {
    background: inherit;
    color: $color-logo;
    padding: 0.5rem;
    border: 1px solid $color-accent;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

input {
    background: $color-input;
    color: $color-light;
    padding: 1rem;
    border: 1px solid $color-accent;
    border-radius: 8px;
    font-family: inherit;
    font-size: inherit;
    width: 100%;

    &:hover,
    &:active,
    &:focus {
        outline: none;
        border: 1px solid $color-accent;
    }

    &:focus {
        background-color: $color-dark-95;
    }

    &[type=color] {
        width: 2rem;
        height: 2rem;
        padding: 0;
    }

    &[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    &[type=submit]:active,
    &[type=button]:active {

        // background-color: navajowhite;
        border: 1px solid $color-accent;
    }

    &[type=submit],
    &[type=button],
    &::file-selector-button {
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 90%;
        font-weight: bold;
        // width: auto;
        // padding: 0.5rem;
        cursor: pointer;
        // font-variant: small-caps;
        // font-style: italic;
        background-color: $color-dark;
        padding: 0.7rem 0;

    }

    &[type=file] {
        padding: 0 0.5rem 0 0;
    }

    &::file-selector-button {
        // background-color: inherit;
        // color: inherit;
        // padding: 0.5rem;
        // border: none;
        // border-right: 1px dashed $color-yellow;
        // cursor: pointer;
        // margin-right: 10px;
    }


}

.avatar {
    border-radius: 50%;
    max-height: 4rem;
}