@import '../../../../globalStyles/colors.scss';

.topbar-dropdown {

    ul {
        text-transform: uppercase;

        >li {
            position: relative;
            text-align: right;

            &:hover ul>li {
                display: block;
            }

            >ul {
                position: absolute;
                right: 0;
                width: 100vw;
                background-color: $color-dark-95;
                border-radius: 5px;

                >li {
                    display: none;
                    line-height: 2rem;
                }
            }

            a.avatar-a {
                display: block;

                >.avatar {
                    height: 3rem;
                }
            }
        }
    }

    @media screen and (max-width: 770px) {
        // flex: 2
    }

    @media screen and (max-width: 320px) {
        flex-direction: column;

        ul>li {
            text-align: center;

            a.avatar-a {
                padding: 1rem;
            }

            >ul {
                position: fixed;
            }
        }
    }
}