.container-collection-movies {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .collection-movie-cards-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 90vw;//1700px;
       // width: 200px;
    }
}