@import '../../globalStyles/colors.scss';

.dashboard__container-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .dashboard__container-inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 90vw;
        
        >.db__header, >.db__movies-container, >.db__link-see-more {
            flex-wrap: wrap;
            width: 100%;
            padding: 1rem 0;
            display: flex;
        }
        
        >.db__header {
            justify-content: flex-start;
            padding: 1rem 2rem 0;
            color: $color-header; 
        }

        .db__movies-container {
            justify-content: center;

            .db__error-message {
                color: $color-placeholder;
            }
        }
        
        >.db__link-see-more {
            justify-content: flex-end;
            padding: 0 2rem 1rem;
            margin: 0;
            border: none;
            outline: none;

            &:hover, &>*:hover {
                color: $color-logo;
                font-weight: bold;
            }
        }
    }
}