@import '../../globalStyles/colors.scss';

.container-search-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .user-search__search-input{
        width: 70%;
    }
       
    .friend-cards-container {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 1300px;

        .friend-card {
            position: relative;
            display: flex; 
            justify-content: center;
            align-items: center;
            flex-direction: column;
            flex: 1 1 22%;
            height: 12rem;
            background: white;
            border-radius: 6px;
            margin: 0.5rem;
            padding: 1rem;
            border: 1px solid $color-movies-border;

            svg {
                position: absolute;
                top: 20px;
                right: 20px;
            }

            polygon {
                fill: $color-button-background; 
                color: $color-button-background;
            }

            &:hover {
                box-shadow: 2px 3px 30px $color-accent;
            }

            .friend-name {
                font-family: 'Lato';
                font-size: 1rem;
                padding-top: 1rem;
                font-weight: 600;
                color: $color-header;

                &:last-child {
                    padding-top: 0.3rem;
                    // color: red;
                    font-weight: 400;
                    color: $color-dark;
                }
            }  
            
            .avatar {
                max-height: 5.5rem;
            }
       }
    }
}