.searched-movies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .searched-movie-cards-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-basis: 90vw;

        >.searched__error-container {
            width: 100%;
            padding: 5rem 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}