@import '../../../../globalStyles/colors.scss';

.topbar-navigation {
    padding: 0 1rem;
    flex: 2 2 400px;
    flex-wrap: wrap;

    ul {
        display: flex;
        align-items: center;

        >li {
            padding: 0 1rem;

            button {
                color: $color-header;
                border:none;
            }

            &.search-bar {
                padding: 0;
            }

            .search-input {
                transition: all 1s ease-in-out;

                &.visible {
                    width: 14rem;
                }

                &.invisible {
                    width: 0;
                    border: 1px dashed $color-dark;
                }
            }
        }
    }

    @media screen and (max-width: 770px) {
        flex: 1 1 100%;
        order: 2;
        padding: 0.5rem 0;
        justify-content: center;

        ul>li:first-child {
            padding-left: 0;
        }
    }

    @media screen and (max-width: 592px) {

        ul>li {
            text-align: center;

            &:not(:last-child) {
                flex-basis: 25%;
            }
        }
    }

    @media screen and (max-width: 480px) {
        ul {
            flex-wrap: wrap;
            align-content: space-between;

            >li {
                padding: 1rem 0;

                &.search-bar {
                    flex-basis: 100%;

                    .search-input.visible {
                        width: 90%;
                    }
                }
            }
        }
    }
}